*.suo
/Construtores/bin/Debug/net5.0/Construtores.dll
/Construtores/bin/Debug/net5.0/Construtores.pdb
/Construtores/bin/Debug/net5.0/ref/Construtores.dll
/Construtores/obj/Debug/net5.0/Construtores.csprojAssemblyReference.cache
/Construtores/obj/Debug/net5.0/Construtores.dll
/Construtores/obj/Debug/net5.0/Construtores.pdb
/Construtores/obj/Debug/net5.0/ref/Construtores.dll
/Construtores/.vs/Construtores/v16/.suo
